<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cily.lottery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/net_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/style_activity_no_title">

        <activity android:name=".SplashAc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ac.CashAc" />
        <activity android:name=".ac.MainAc" />
        <activity android:name=".ac.LoginAc" />
        <activity android:name=".ac.ChangePwdAc" />
        <activity android:name=".ac.UserInfoAc" />
        <activity android:name=".ac.RegisterAc" />
        <activity android:name=".ac.OrderListAc" />
        <activity android:name=".ac.SchemeListAc" />
        <activity android:name=".ac.OrderAddAc" />
        <activity android:name=".ac.SchemeInfoAc" />
        <activity android:name=".ac.UserMoneyFlowAc" />

    </application>

</manifest>